@font-face {
  font-family: 'saiki';
  src: url('fonts/Delta\ Jaeger\ Bold\ Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
body{
    background-color: #E03E93;
    /*background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 70px;
    background-position-y:48px;
    */
    font-family: 'saiki', sans-serif;
}
#topbar{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0px;
    left: 0px;
    border: none;
    width:100%;
    height: 60px;
    background-color:  #00682a;
    z-index: 4;
}
#logo{
    position: fixed;
    top: 13px;
    left: 8px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
}
/*.right{
    display: flex;
    align-items: center;
    gap: 10px;
}*/
#searchb{
    width: 450px;
    height: 35px;
    padding-left: 14px;
    border: 1px solid #005d25;
    border-radius: 20px;
    background-color:  #00953c;
    color:  #00240e;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    outline: none;
    font-size: 15px;
}
#searchb::placeholder{
    padding-left: -2px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #005321b7;
}
button{
    transition: 0.25s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 35px;
    border: 1px solid #005d25;
    border-radius: 4px;
    background-color:  #00a341;
    color: #005321df;
}
#sidebox{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 80px;
    height:100%;
    background-color: white;
    border: 1px solid white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
    z-index: 3;
}
.social a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s ease;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: auto;
    margin-bottom: 5px;
}
.social a img{
    width: 36px;
}
.info{
    position: absolute;
    left: 10px;
    height: 15px;
    padding: 5px;
    padding-left: 8px;
    background-color: black;
    border: 1px solid black;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    border-radius: 14px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transform: translateX(0);
    transition: opacity .25s ease-in, 
                transform .25s ease-in, 
                visibility .25s ease-in;
}
.info p{
    font-family: sans-serif;
    font-size: 13px;
}
.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 32px;
    margin-top: 75px;
}
.menu::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -25px;
    bottom: -10px;
    background: transparent; 
}
.menu img{
    width: 40px;
}
.menu span{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
}
/*.menu:first-child{
    margin-bottom: 370px;
}*/
.things{
    visibility: hidden;
    opacity: 0;
    transform: translateX(0);
    transition: opacity .25s ease-in, 
                transform .25s ease-in, 
                visibility .25s ease-in;
    position: absolute;
    left: 15px;
    border: 1px solid white;
    background-color: white;
    width: 115px;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    gap: 10px;
    z-index: 3;
    padding: 5px;
}
.things a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    color: black;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
}
#boxbg{
    position: relative;
    gap: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.497);
    top: 100px;
    left: 200px;
    border: 1px white;
    border-radius: 2px;
    width: 80%;
    height:100%;
    background-color: white;
    font-family: sans-serif;
    z-index: 2;
}
.desc{
    font-size: 14px;
    flex: 2;
    margin-left: 30px;
}
.desc h1{
    font-size: 40px;
    font-family: 'saiki';
    margin-bottom: 10px;
}
#pic{
    margin: 30px 20px 5px 35px;
    float: left;
    background-color: #00682a;
    border: 6px solid #00682a;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    text-align: center;
}
#pic img{
    width: 300px;
    border-radius: 4px;
    display: block;
}
.label{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    box-shadow: 0 4px 10px rgba(225, 79, 174, 0.3);
    border: 1px solid white;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
.label .jp{
    font-family: "Yu Mincho", "Hiragino Mincho ProN", "MS Mincho", serif;
    font-size: 1.9em;
    font-weight: bold;
    letter-spacing: 1px;
}
.label .en{
    font-style: italic;
}
#searchb:hover{
    outline: 1px rgba(0, 0, 0, 0.442) solid;
}
#sidebox a:hover img{
    cursor: pointer;
    transform: scale(1.1);
}
button:hover{
    cursor: pointer;
    background-color: #20c863;
    color: #02491e;
}
.things a:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.social a:hover .info,
.menu:hover .things{    
    transform: translateX(30px);
    visibility: visible;
    opacity: 1;
}
