@font-face {
  font-family: 'saiki';
  src: url('fonts/Delta\ Jaeger\ Bold\ Italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}
body{
    background-color: #070709;
    /*background-color: #E03E93;*/
    /*background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: 70px;
    background-position-y:48px;
    */
    font-family: sans-serif;
    color: white;
}
#topbar{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0px;
    left: 0px;
    border: none;
    width:100%;
    height: 60px;
    background-color: #E03E93;
    z-index: 4;
}
#logo{
    position: fixed;
    top: 13px;
    left: 8px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
}
/*.right{
    display: flex;
    align-items: center;
    gap: 10px;
}*/
#searchb{
    width: 450px;
    height: 35px;
    padding-left: 14px;
    border: 1px solid #831b51;
    border-radius: 20px;
    background-color: hsl(329, 75%, 63%);
    color:  #00240e;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    outline: none;
    font-size: 15px;
}
#searchb::placeholder{
    padding-left: -2px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: hsla(0, 0%, 88%, 0.622);
}
button{
    transition: 0.25s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 150px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #831b51;
    background-color:  hsl(329, 75%, 63%);
}
#sidebox{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 80px;
    height:100%;
    /*background-color: #00682A;*/
    background-color: #131416;
    border: 1px solid #131416;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
    z-index: 3;
}
.social a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.3s ease;
}
.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: auto;
    margin-bottom: 5px;
}
.social a img{
    width: 36px;
}
.info{
    position: absolute;
    left: 10px;
    height: 15px;
    padding: 5px;
    padding-left: 8px;
    background-color: #070709;
    border: 1px solid #070709;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    border-radius: 14px;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transform: translateX(0);
    transition: opacity .25s ease-in, 
                transform .25s ease-in, 
                visibility .25s ease-in;
}
.info p{
    font-family: sans-serif;
    font-size: 13px;
}
.menu{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 32px;
    margin-top: 75px;
}
.menu::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -25px;
    bottom: -10px;
    background: transparent; 
}
.menu img{
    width: 40px;
}
.menu span{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 11px;
}
/*.menu:first-child{
    margin-bottom: 370px;
}*/
.things{
    visibility: hidden;
    opacity: 0;
    transform: translateX(0);
    transition: opacity .25s ease-in, 
                transform .25s ease-in, 
                visibility .25s ease-in;
    position: absolute;
    left: 15px;
    border: 1px solid #131416;
    background-color: #131416;
    width: 115px;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    gap: 10px;
    z-index: 3;
    padding: 5px;
}
.things a{
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 3px;
}
#boxbg{
    display: flow-root;
    position: relative;
    gap: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.497);
    top: 100px;
    left: 200px;
    border: 1px #131416;
    border-radius: 2px;
    width: 80%;
    background-color: #131416;
    z-index: 2;
}
.desc{
    font-size: 14px;
    flex: 2;
    margin: 50px 5px 5px 10px;
}
#pic{
    margin: 30px 20px 5px 35px;
    float: left;
    background-color: #E03E93;
    border: 4px solid #E03E93;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    text-align: center;
    max-width: 300px;
}
#pic img{
    width: 300px;
    border-radius: 0 0 6px 6px;
    display: block;
}
.label{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 0px;
    width: 100%;
    box-sizing: border-box;
    color: white;
}
.label .jp{
    font-family: "Yu Mincho", "Hiragino Mincho ProN", "MS Mincho", serif;
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: 1px;
}
.label .en{
    padding-bottom: 4px;
    font-size: .7em;
    font-style: italic;
}
#pic p{
    margin: 8px 0px 1px 8px;
    text-align: left;
    font-size: 13px;
}
.pagination{
    position: relative;
    top: 125px;
    margin-left: 20%;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
    
}
.pagination a{
    text-decoration: none;
    color: hsla(0, 0%, 67%, 0.378);
    font-weight: bold;
    transition: .1s ease;
}
.pagination a:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 102%;
    color: hsla(0, 0%, 55%, 0.697);
    text-decoration: underline;
}
#searchb:hover{
    outline: 1px rgba(0, 0, 0, 0.442) solid;
}
#sidebox a:hover img{
    cursor: pointer;
    transform: scale(1.1);
}
button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
.things a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.social a:hover .info,
.menu:hover .things{    
    transform: translateX(30px);
    visibility: visible;
    opacity: 1;
}
